@import "vars"
@import "fonts"
@import "libs"


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.4em
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #fff
	input
		border: #666 1px solid
		outline: none

h1
	font-family: Oswald-Medium;
	font-size: 36px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;


h2
	font-family: Oswald-Medium;
	font-size: 30px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;

h3
	font-family: Oswald-Medium;
	font-size: 24px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;	

.text-quote
	font-family: Oswald-ExtraLight;
	font-size: 24px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.42;
	letter-spacing: normal;
	color: #4a4a4a;

h4
	font-family: Oswald-Medium;
	font-size: 20px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;	

.text-introduction
	font-family: Oswald;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	color: #4a4a4a;

.text-newstitle
	font-family: Oswald;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;


.text-subhead
	font-family: Poppins;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.87);


.text-lightbtn
	font-family: Poppins-Medium;
	font-size: 14px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.14;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.87);


.text-r 
	font-family: Oswald;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	color: #4a4a4a;


.text-small
	font-family: Oswald-ExtraLight;
	font-size: 10px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #4a4a4a;

.text-center
	text-align: center;

a
	text-decoration: none;
	transition: 0.2s
	color: inherit
	&:hover
		color: inherit

.btn-red
	display: inline-block;
	font-family: Oswald-Light;
	font-size: 20px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	background-color: $red;
	padding-top: 10px;
	padding-bottom: 12px;
	border-radius: 21px;
	padding-left: 45px;
	padding-right: 45px;
	position: relative;
	&:hover
		color: white
		text-decoration: none;
		background-color: #ea4e54;
	.mdl-button__ripple-container
		border-radius: 21px;
		outline: none

.btn-red.mdl-button--raised:active,
.btn-red.mdl-button--raised:focus:not(:active) 
	 background-color: $red;

.btn-red-cb
	padding-right: 25px;
	padding-left: 25px;

.menu__lg-hidden
	display: none;

.text-top
	margin-bottom: 45px;
	text-align: center;
	text-transform: uppercase;
	h2
		color: $red
		font-family: Oswald

button
	border: none

.header
	position: fixed;
	width: 100%;
	background: white;
	height: 80px
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5)
	display: flex
	align-items: center
	z-index: 5;
	&__menu
		padding-right: 30px;
		ul
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			> li > a
				color: #373737;
				text-transform: uppercase;
				font-family: Oswald;
				padding-top: 30px;
				padding-bottom: 28px;
				color: #373737
				&:hover,
				&:active
					border-bottom: 2px solid $text;
					text-decoration: none;
			> li.menu__opener > a
				position: relative
				&:after
					content: ''
					display: inline-block
					position: relative;
					bottom: 3px
					margin-left: 5px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 4px 0 4px;
					border-color: #373737 transparent transparent transparent;
	&__logo
		text-align: center;
		img
			max-width: 100%;
		a
			display: block;
	&__contacts
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-end;
		align-items: center
	&__btn
		margin-left: 20px;
	&__tel
		a
			font-family: Oswald-Medium;
			font-size: 20px;
			color: #373737;
			position: relative;
			&:hover,
			&:active
				text-decoration: none;
			&:before
				content: ''
				display: inline-block;
				margin-right: 10px;
				width: 22px;
				height: 25px
				background: url(../img/icons/telephone.svg) no-repeat center
				position: absolute;
				left: -30px;
				bottom: 2px;
	&__logo-mobile
		display: none;
		max-height: 80px

.hover__menu
	position: absolute;
	display: none;
	top: 50px
	background: white
	width: 230px
	box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	> ul
		display: block; 
	ul > li
		display: block;
	ul > li > a
		display: inline-block;
		padding: 20px
		&:hover
			border-bottom: none;
			text-decoration: underline;

.header-pos
	height: 80px

.slider
	&__big
		padding-top: 0px;
		position: relative;
		min-height: calc(100vh - 80px)
		img
			max-width: 100%
		.slick-dots
			bottom: 25px
			padding-right: 100px;
			text-align: right;
		.slick-dots li button:before
			font-size: 40px;
			color: white
			opacity: 1
		.slick-dots li.slick-active button:before
			color: $green
			font-size: 60px;
			top: -1px
	&__big-item
		position: relative;
		max-height: calc(100vh - 80px)
		overflow: hidden
		&:after
			content: ''
			position: absolute
			display: block;
			left: 0
			right: 0
			bottom: 0
			height: 200px
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%);
		img.anim
			animation-name: bg-slider;
			animation-duration: 1.5s;
			animation-delay: 0.3s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
	&__big-item-text
		position: absolute;
		z-index: 3;
		bottom: 100px
		right: 0
		left: 0
		h1
			color: white
			text-transform: uppercase;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	&__big-item-h1
		padding-left: 140px;
	&__big-item-date
		padding-left: 140px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		h2
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
			color: white
	&__big-item-line
		position: relative;
		flex: 1
		bottom: 18px
		border-bottom: 3px solid $green;
		margin-left: 20px;
	&__big-wrap
		position: relative;
		.slick-disabled
			display: none !important;
	&__big-arr-left,
	&__big-arr-right
		position: absolute;
		z-index: 10;
		width: 80px
		top: 0px
		bottom: 0
		cursor: pointer
		background: url(../img/next-indicator.png) no-repeat center
	&__big-arr-right
		right: 0
	&__big-arr-left
		left: 0
		transform: rotate(180deg)
	&__big-about
		.slider__big-item-date
			display: none;
		.slider__big-item-text h1
			color: $green



.projects
	margin-top: 100px;
	margin-bottom: 40px;

.project
	&__item
		box-shadow: 0 1px 3px 0 rgba(48, 50, 70, 0.2);
		position: relative;
		margin-bottom: 10px;
	&__item-img
		text-align: center;
		img
			max-width: 100%
	&__item-comm
		background-color: #fff;
		.project__item-text h3
			color: $text
		a
			display: block;
			text-align: center;
	&__item-text
		position: relative;
		padding: 30px
		h3
			color: $red
			padding-bottom: 10px;
		p
			padding-bottom: 10px;
			padding-left: 30px;
			position: relative;
		p.project__adr:before
			content: ''
			display: inline-block;
			position: absolute;
			width: 24px;
			height: 24px;
			background: url(../img/icons/geo.svg) no-repeat center
			z-index: 1;
			left: 0
			top: -2px
		p.project__amount:before
			content: ''
			display: inline-block;
			position: absolute;
			width: 24px;
			height: 24px;
			background: url(../img/icons/money.svg) no-repeat center
			z-index: 1;
			left: 0
			top: -1px
		p.project__adr-comm:before
			content: ''
			display: inline-block;
			position: absolute;
			width: 24px;
			height: 24px;
			background: url(../img/icons/info.svg) no-repeat center
			z-index: 1;
			left: 0
			top: -2px		
	&__item-link a
		display: block;
		position: absolute;
		width: 50px;
		height: 50px
		background:url(../img/icons/arrow.svg) no-repeat center
		top: -25px
		right: 50px
		box-shadow: none
		background-position-y: -3px

.btn__more
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;

.news
	padding-top: 100px;
	background: url(../img/bg-news.png)
	&__item
		box-shadow: 0 2px 3px 0 rgba(165, 164, 164, 0.5);
		min-height: 500px
		margin-bottom: 10px;
		background-color: #fff;
	&__item-img
		img
			max-width: 100%;
		a
			display: block
			width: 100%;
	&__item-text
		padding: 25px
	&__item-date
		padding-left: 30px;
		position: relative;
		margin-bottom: 5px;
		&:before
			content: ''
			position: absolute;
			display: block;
			width: 25px;
			height: 25px
			background: url(../img/icons/news-date.svg) no-repeat center
			left: 0
			top: -2px
	&__item-link
		margin-bottom: 5px;
		a
			font-family: Oswald;
			font-size: 20px;
			line-height: 30px;
			&:hover,
			&:active
				text-decoration: none;
				color: $red
		p
			line-height: 20px;
	&__footer-wrap
		position: relative;
	&__footer-bg
		position: absolute;
		top: 0
		bottom: 0
		left: 0
		right: 0
		background-color: #000;
		opacity: 0.2
		z-index: 2;
	&__footer
		position: relative;
		z-index: 3;
		min-height: 110px
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center
	&__page
		padding-top: 50px;
		.news__item
			margin-bottom: 50px;
	&__footer-only
		background: white;
		padding-top: 0;

.estate
	&__text p
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: #4a4a4a
	&__switch
		padding-right: 40px;
	&__item
		margin-bottom: 100px;
	&__switch-wrap
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		margin-top: 50px;
		margin-bottom: 50px;
		.mdl-switch.is-checked .mdl-switch__thumb
			background: $green
			width: 25px;
			height: 25px
			left: 38px
			box-shadow: none
		.mdl-switch__thumb
			width: 25px;
			height: 25px
			left: 5px
			top: 4px
			background: $green
			box-shadow: none;
		.mdl-switch.is-checked .mdl-switch__track
			background-color: #fff;
		.mdl-switch__track
			border: 1px solid grey
			top: -1px;
			height: 35px;
			width: 67px;
			border-radius: 18px;
			background-color: #fff;

.mort
	&__big
		background-color: #e8e8e8;
		.breadcrumbs
			margin-top: 40px;
			margin-bottom: 20px;
	&__big-item
		min-height: calc(100vh - 160px)
		background-image: url(../img/mort-happy.png)
		background-repeat: no-repeat
		background-position: 80% 100%;
		padding-left: 300px;
		padding-bottom: 200px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center
	&__big-item-text
		h2
			color: $green;
			text-transform: uppercase;
			margin-bottom: 15px;
		p
			margin-bottom: 30px;
			max-width: 370px
			font-size: 16px;
			line-height: 25px;
	&__adv
		margin-top: 100px;
	&__adv-item
		margin-top: 70px;
		margin-bottom: 50px;
	&__adv-item-top
		margin-bottom: 15px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-end
		justify-content: center;
	&__adv-item-main
		font-family: Oswald;
		font-size: 24px;
		line-height: 30px;
		padding-bottom: 10px;
	&__adv-item-img
		max-width: 60px
		margin-right: 15px;
		img
			max-width: 100%
	&__adv-item-bottom
		text-align: center;
		padding-right: 40px;
		padding-left: 40px;
	&__calc
		background-color: #e8e8e8;
		padding-top: 50px;
		padding-bottom: 50px;
	&__banks
		padding-top: 100px;
		padding-bottom: 50px;
	&__banks-item
		box-shadow: 0 1px 3px 0 rgba(48, 50, 70, 0.2);
		min-height: 215px
		margin-bottom: 30px;
	&__banks-item-img
		text-align: center;
		max-width: 100%
		min-height: 90px
		display: flex;
		align-items: center;
		img
			max-width: 100%
		a
			display: block;
			width: 100%;
			padding: 5px
	&__banks-item-text
		padding: 10px
		p
			padding-bottom: 15px;
			padding-left: 30px;
			position: relative;
		p.project__perc:before
			content: ''
			display: inline-block;
			position: absolute;
			width: 24px;
			height: 24px;
			background: url(../img/icons/percentage.svg) no-repeat center
			z-index: 1;
			left: 0
			top: -2px
			opacity: 0.2
		p.project__money:before
			content: ''
			display: inline-block;
			position: absolute;
			width: 24px;
			height: 24px;
			background: url(../img/icons/money.svg) no-repeat center
			z-index: 1;
			left: 0
			top: -1px
			opacity: 0.2
		p.project__clock:before
			content: ''
			display: inline-block;
			position: absolute;
			width: 24px;
			height: 24px;
			background: url(../img/icons/clock.svg) no-repeat center
			z-index: 1;
			left: 0
			top: -2px
			opacity: 0.2
	&__form
		padding-top: 100px;
	&__form-item
		padding-bottom: 100px;
		.modal-footer
			justify-content: center;
			margin-top: 20px;



.social-icon
	display: inline-block;
	width: 50px;
	height: 50px
	margin-right: 50px;
	position: relative;
	&__vk-red
		background: url(../img/icons/vk-red.svg) no-repeat
		background-size: 100%
	&__fb-red
		background: url(../img/icons/fb-red.svg) no-repeat
		background-size: 100%
	&__in-red
		background: url(../img/icons/in-red.svg) no-repeat
		background-size: 100%
	&__yt-red
		background: url(../img/icons/yt-red.svg) no-repeat
		background-size: 100%
	&__vk
		background: url(../img/icons/vk.svg) no-repeat
		background-size: 100%
	&__tg
		background: url(../img/icons/telegram.svg) no-repeat
		background-size: 100%
	&__vb
		background: url(../img/icons/viber.svg) no-repeat
		background-size: 100%
	&__wp
		background: url(../img/icons/wa.svg) no-repeat
		background-size: 100%
	.mdl-button__ripple-container
		border-radius: 25px;

.social-icon.mdl-button--raised
	box-shadow: none

.social-icon.mdl-button--raised:active
	background-color: transparent;

.social-icon.mdl-button--raised:focus:not(:active)
	box-shadow: none
	background-color: transparent;

.marker-clicker
	max-width: 200px
	.project__item-img img
		max-width: 100% !important
	.project__item-text
		padding: 5px
		h3
			font-size: 15px;
		p
			padding-bottom: 5px;

.calc
	&__results-item
		margin-bottom: 20px;
	&__results-item-name
		display: inline-block;
		font-size: 18px;
		width: 50%;
	&__results-item-res
		color: $green
		font-size: 24px;


.calc__ranges
	.mdl-slider__background-flex
		height: 5px
	.mdl-slider__background-lower,
	.mdl-slider__background-upper
		background: #d3dce6;
	.mdl-slider.is-upgraded
		height: 2px
		border: 0
		color: black
	&-item
		margin-bottom: 20px;
	&-item-amount
		text-align: center;
		background-color: #fff;
		padding: 3px
		padding-bottom: 10px;
		position: relative;
		top: 8px
		font-size: 18px;

.payment__block-item
	font-size: 16px;
	display: inline-block;
	width: 50%;
	margin-bottom: 15px;

.calc__ranges .mdl-slider.is-upgraded::-webkit-slider-thumb
	background: $red;	

.calc__ranges .mdl-slider.is-upgraded::-moz-slider-thumb
	background: $red;

.calc__ranges .mdl-slider.is-upgraded::-ms-slider-thumb
	background: $red;


.footer
	background-color: #2d2d2d
	padding-top: 30px;
	padding-bottom: 30px;
	&__copyright-name
		font-family: Oswald
		font-size: 18px;
		line-height: 26px;
		text-transform: uppercase;
		color: white
		margin-bottom: 40px;
	&__copyright-links
		margin-bottom: 40px;
		a
			font-family: Oswald-Light;
			color: white
			text-decoration: underline;
			font-size: 18px;
			display: inline-block;
			margin-bottom: 15px;
			&:hover
				color: $red
	&__social-chat
		color: white
		margin-bottom: 15px;
	&__social-icons
		margin-bottom: 25px;
	&__social-inf p
		color: white


.input__wrapper
	width: 100%;
	padding: 20px 0
	border-bottom-color: rgba(0,0,0,.26);
	.mdl-textfield__input
		font-family: inherit;
		/* border: 1px solid $text */
		padding: 5px 10px
		padding-right: 30px;
	.mdl-textfield__label:after
		background-color: $green;
		bottom: 20px
	.mdl-textfield__label
		width: auto;
		top: 20px
		span
			display: inline-block;
			padding-left: 10px;
			position: relative;
			top: 2px

.mdl-textfield.is-invalid .mdl-textfield__input
	border-color: inherit;
	box-shadow: none;

.mdl-textfield.is-invalid .mdl-textfield__label:after
	    background-color: $green

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label
	color: rgba(0,0,0,.26)
	font-size: 14px;

.mdl-textfield--floating-label.is-focused .mdl-textfield__label
	top: -5px
	font-size: 12px;

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label
	top: -5px
	font-size: 12px;
	color: $red

label.input-text__error
	font-size: 12px;
	position: absolute;
	color: $red

.breadcrumbs
	> ul
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		justify-content: flex-end;
	&__item
		padding-right: 10px;
		&:after
			content: ' >'
			display: inline-block;
			position: relative;
			left: 5px
	&__item-active
		&:after
			display: none;
	a:hover
		text-decoration: none;
		color: $red


form.test
	label
		display: block;
		margin-bottom: 20px;
		position: relative;


input[type="text"].test,
input[type="tel"].test
	width: 100%;
	padding: 5px 10px
	padding-right: 30px;
	border: solid 1px #979797;
	border-radius: 3px;

.mdl-switch__label-left,
.mdl-switch__label-right
	position: absolute;
	z-index: 5;
	top: 4px

.mdl-switch__label-right
	left: 85px;

.mdl-switch__label-left
	left: -65px

input[type="submit"]
	border: none

body .mdl-checkbox.is-checked .mdl-checkbox__tick-outline
	background-color: $green

body .mdl-checkbox.is-checked .mdl-checkbox__box-outline
	border: 2px solid $green

.mdl-checkbox
	margin-bottom: 10px;

i.input__icon
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px
	top: 17px
	right: 5px

i.input__icon-user
	background: url(../img/icons/user.svg) no-repeat center

i.input__icon-tel
	background: url(../img/icons/phone.svg) no-repeat center

.link-red
	color: $red
	font-family: Oswald;
	&:hover
		text-decoration: none;

.mm__body
	> ul > li
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	> ul > li > a
		display: inline-block;
		font-size: 20px;
		font-family: Oswald;
		padding-top: 5px;
		padding-bottom: 5px;
		text-transform: uppercase;

.about
	&__task
		padding-top: 100px;
		padding-bottom: 50px;
	&__task-text p 
		font-family: Oswald-Light;
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 40px;
	&__rules
		padding-top: 50px;
		background-color: #f3f3f3;
		padding-bottom: 50px;
	&__rules-list > ul > li
		position: relative;
		padding-left: 100px;
		margin-bottom: 40px;
		h3
			color: $red
			margin-bottom: 20px;
		p
			font-size: 18px;
			line-height: 20px;
	&__rules-list-img
		position: absolute;
		width: 60px;
		height: 60px
		left: 0
		top: 10px
		img
			max-width: 100%;
	&__partners
		padding-top: 50px;
		padding-bottom: 50px;
	&__partners-item-wrap
		display: flex
		flex-flow: row wrap
		align-items: center
		justify-content: space-between;
	&__partners-item
		width: 60px;
		margin-right: 40px;
		img
			max-width: 100%;
	&__rec
		padding-top: 50px;
		background-color: #f3f3f3;
		padding-bottom: 50px;
	&__rec-item-wrap
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	&__rec-item
		width: 20%;
		margin-bottom: 30px;
	&__rec-item-img
		margin-bottom: 30px;
		img
			max-width: 100%
	&__rec-item-name
		text-align: center;
		font-size: 20px;
		font-family: Oswald;
		line-height: 30px;
		color: $red
		margin-bottom: 15px;
		span.big-name
			text-transform: uppercase;
			display: block;
	&__rec-item-job
		text-align: center;
		font-size: 20px;		


.map
	width: 100%;
	height: 500px
	margin-bottom: 100px;



@keyframes bg-slider
	0%
		transform: scale(1)
	100%
		transform: scale(1.1);
		




@import "media" // Always at the end
